<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pepperfry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PepperFry">
        <activity
            android:name="com.example.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.PepperFry.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.DepartmentSection.BedroomExtended" />
        <activity android:name="com.example.DepartmentSection.ClearanceSaleExtended" />
        <activity android:name="com.example.DepartmentSection.DecorExtended" />
        <activity android:name="com.example.DepartmentSection.FurnishingsExtended" />
        <activity android:name="com.example.DepartmentSection.FurnitureExtended" />
        <activity android:name="com.example.DepartmentSection.KidsRoomExtended" />
        <activity android:name="com.example.DepartmentSection.LightingExtended" />
        <activity android:name="com.example.DepartmentSection.LivingExtended" />
        <activity android:name="com.example.DepartmentSection.MattressesExtended" />
        <activity android:name="com.example.DepartmentSection.ModularFurnitureExtended" />
        <activity android:name="com.example.DepartmentSection.DepartmentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>