<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pepperfry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PepperFry">
        <activity android:name="com.example.ProfileExtendedChangePassword"></activity>
        <activity android:name="com.example.ProfileExtendedAddressBook" />
        <activity android:name="com.example.WhishList" />
        <activity android:name="com.example.ModularFurniture" />
        <activity android:name="com.example.Lighting" />
        <activity android:name="com.example.Decor" />
        <activity android:name="com.example.Furnishings" />
        <activity android:name="com.example.Mattresses" />
        <activity android:name="com.example.ChairActivity" />
        <activity android:name="com.example.NavigationActivity" />
        <activity android:name="com.example.shoe_rack" />
        <activity android:name="com.example.SignOutConfirm" />
        <activity android:name="com.example.SectionalSofas" />
        <activity android:name="com.example.ProfileSection" />
        <activity android:name="com.example.ProfileExtendedMyOrder" />
        <activity android:name="com.example.ProfileExtendedTrackOrder" />
        <activity android:name="com.example.LoginOrRegister">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name="com.example.DecorExtended" />
        <activity android:name="com.example.StartShoppingActivity" />
        <activity android:name="com.example.MobileNumberVerificationActivity" />
        <activity android:name="com.example.KidsRoom" />
        <activity android:name="com.example.Bedroom" />
        <activity android:name="com.example.Living" />
        <activity android:name="com.example.SofasActivity" />
        <activity android:name="com.example.Furniture" />
        <activity android:name="com.example.HomeScreen" />
        <activity android:name="com.example.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.RegisterActivity" />
        <activity android:name="com.example.MainActivity" />
        <activity android:name="com.example.AlertsActivity" />
        <activity android:name="com.example.BedroomExtended" />
        <activity android:name="com.example.ClearanceSaleExtended" />
        <activity android:name="com.example.FurnishingsExtended" />
        <activity android:name="com.example.FurnitureExtended" />
        <activity android:name="com.example.KidsRoomExtended" />
        <activity android:name="com.example.LightingExtended" /> <!-- <activity android:name="com.example.SplashScreen"></activity> -->
        <activity android:name="com.example.LivingExtended" />
        <activity android:name="com.example.MattressesExtended" />
        <activity android:name="com.example.ModularFurnitureExtended" />
        <activity android:name="com.example.DepartmentsActivity" />
    </application>

</manifest>